.secret {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    background-color: lightyellow;
}

.white-text {
    color: white;
}